body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white
}

#login-form {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

#login-form form {
  display: inline-block;
}

#login-form input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#login-form button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

section {
  padding: 20px;
}

footer {
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.image-container {
text-align: center;
}

.image-container img {
display: block; 
margin: 0 auto; 
}