body {
  font-family: sans-serif;
  text-align: center;
  color: #333333; 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%; 
  margin: 0;
}

body {
  display: flex; 
  flex-direction: column;
}

main {
  flex: 1; 
  background-color: #FFFFFF; 
}

footer {
  background-color: #333333; 
  color: white; 
  padding: 20px;
  text-align: center;
}

h1 {
  color: #003366; 
}

header {
  background-color: #003366; 
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white; 
}

section {
  padding: 20px;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: block; 
  margin: 0 auto; 
}

#contact {
  text-align: left; 
  max-width: 400px; 
  margin: 0 auto; 
}

#contact ul {
  list-style-type: none; 
  padding: 0; 
}

#contact li {
  margin: 10px 0; 
}

#contact a {
  text-decoration: none; 
  color: #008080; 
}

#contact a:hover {
  text-decoration: underline; 
}

#pages {
  text-align: left;
  max-width: 400px; 
  margin: 0 auto;
}

#pages ul {
  list-style-type: none; 
  padding: 0; 
}

#pages li {
  margin: 10px 0; 
}

#pages a {
  text-decoration: none; 
  color: #008080;
}

#pages a:hover {
  text-decoration: underline; 
}

#login-form {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

#login-form form {
  display: inline-block;
}

#login-form input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#login-form button {
  padding: 8px 15px;
  background-color: green;
  color: white; 
  border: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; 
}